{%- extends '@WexampleSymfonyLoaderTestingBundle/layouts/test/layout.html.twig' -%}

{% set document_title = document_title|default('ADAPTIVE_DOCUMENT_TITLE') %}
{% set document_meta_description = document_meta_description|default('DOCUMENT_META_DESCRIPTION') %}

{%- block layout_config -%}
    {{ parent() }}
    {{- var_export(render_pass, 'layoutLevelTestVar', 'value') -}}
{%- endblock -%}

{%- block page_config -%}
    {{ parent() }}
    {{- var_export(render_pass, 'pageLevelTestVar', 'value') -}}
{%- endblock -%}

{%- block page_body -%}
    <ul>
        {% if not render_pass.useJs %}
            <li>NO_JS_TEXT</li>
        {% endif %}
    </ul>
{%- endblock -%}

