$global-color-scheme-name: 'dark' !default;

@use '../../css/shapes/inline-info.color-scheme.dark' with (
  $global-color-scheme-name: $global-color-scheme-name
);

@use '../../css/mixins/global.color-scheme.dark' as *;

.display-breakpoint {
  .size-name {
    background: $color-disabled-background;
    color: $color-disabled-text;
  }
}
