{%- extends '@WexampleSymfonyLoaderBundle/layouts/demo/layout.html.twig' -%}

{%- block page_body -%}
    {% set usages = ['animations', 'margins', 'color_scheme', 'fonts'] %}
    {% for usage in usages %}
        <h2>{{ ('@page::' ~ usage ~ '.title') | trans }}</h2>
        <div class="block">
            {{ ('@page::' ~ usage ~ '.body') | trans | raw }}
        </div>
        <div class="blocks">
            {% for key, config in render_pass.usagesConfig[usage].list %}
                <div class="block blocks-col">
                    {{ component(
                        render_pass,
                        '@WexampleSymfonyLoaderBundle/components/button',
                        {
                            text: key,
                            icon:'fa:solid/play',
                            class: 'demo-button-switch-usage',
                            attr: {'data-usage-name': usage, 'data-usage-value': key}
                        }) }}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{%- endblock -%}
