@use '@wexample/symfony-loader/css/shapes/block';
@use '@wexample/symfony-loader/css/shapes/grid';

.icons-list {
  @extend .block;
  @extend .grid;
  grid-template-columns: repeat(24, 1fr);
  grid-gap: .5rem;

  .icon {
    max-width: 2rem;
    max-height: 2rem;
  }
}