{%- extends '@WexampleSymfonyLoaderBundle/layouts/demo/layout.html.twig' -%}

{%- block page_body -%}
    <div class="blocks blocks-no-stretch blocks-side-column-right">
        <div class="block">
            {{ '@page::layout_modal.body' | trans }}
        </div>
        <div class="block blocks-col">
            {{ component(render_pass, '@WexampleSymfonyLoaderBundle/components/button', {id:'page-modal-show', text:'Test Two', icon:'material:check'}) }}
        </div>
    </div>
    <div class="blocks blocks-no-stretch blocks-side-column-right">
        <div class="block">
            {{ vue(render_pass, '@WexampleSymfonyLoaderBundle/pages/demo/vue/demo-vue-component') }}
        </div>
    </div>
    {{ vue(render_pass, '@WexampleSymfonyLoaderBundle/vue/debug-assets') }}
{%- endblock -%}