<ul>
    <li>TEST_VUE_3</li>
    <li>
        <span class="test-vue-string-translated-server-3">{{ '@vue::string.server_side' | trans }}</span>
    </li>
    <li>
        <span class="test-vue-string-translated-client-3">{{ 'translatedStringClientSide3' | vue_key }}</span>
    </li>
</ul>
