{%- extends '@WexampleSymfonyLoaderTestingBundle/layouts/black/layout.html.twig' -%}

{# Has a header bar with mobile burger and user menu #}
{%- block layout_composer_html -%}
    <header>
        <div class="layout-header">
                <a class="logo" href="{{ url('_loader_testing_demo_index') }}" title="{{ '@WexampleSymfonyDesignSystemBundle.common.app::name' | trans }}">
                    <img alt="{{ '@WexampleSymfonyDesignSystemBundle.common.app::name' | trans }}" src="{{ asset('/bundles/wexamplesymfonyhelpers/wex.gif') }}">
                </a>
        </div>
    </header>
{%- endblock -%}
