// Layout.
@use '@wexample/symfony-loader/layouts/black/layout';

// Base partials.
@use '@wexample/symfony-loader/css/partials/debug';

// Base shapes.
@use '@wexample/symfony-loader/css/shapes/layout-reset-modern';
@use '@wexample/symfony-loader/css/shapes/container';
@use '@wexample/symfony-loader/css/shapes/pill';
@use '@wexample/symfony-loader/css/shapes/tab';

// Local partials.
@use './partials/header';

// Allowed partials in all pages.
@use '@wexample/symfony-loader/css/shapes/block';

// Base imports
@use '@wexample/symfony-loader/css/partials/global' as *;

body {
  font-family: 'Work Sans Regular', sans-serif;
}

#{$selector-title-all} {
  font-weight: normal;
  font-family: 'Fredoka One', sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
}

a {
  font-weight: bold;
}

#nav-secondary {
  @extend .pill;

  ul {
    display: flex;
  }
}