// This is the "demo" fonts selection.
@use '@wexample/symfony-loader/fonts/work_sans';
@use '@wexample/symfony-loader/fonts/fredoka_one';
// Using shapes as it needs some adjustments.
@use '@wexample/symfony-loader/css/shapes/icon_material';
