@use '../../css/shapes/block';
.responsive-tester {
  display: flex;

  .test-responsive {
    background-color: #666666;
    border: 2px solid #666666;
    margin: 1rem;
    padding: 1rem;
  }
}

.tests-results {
  @extend .block;

  background: rgba(125, 125, 125, .1);
  // Avoid debug infos to override page content.
  min-height: 10rem;
}
